<!-- Linha para identificar o footer -->

<footer class="footer fixed-bottom">
	<div class="container">
		<div class="row">
			<!-- list-unstyled => remove as bolinhas dos itens -->
			<ul class="list-group list-group-flush list-group-horizontal list-unstyled">
				<li><a class="list-group-item" href="https://github.com/alexssantos" target="_blank">GitHub</a></li>
				<li>
					<a class="list-group-item" href="https://www.linkedin.com/in/alexssantos"
						target="_blank">LinkedIn</a>
				</li>
				<li>
					<a class="list-group-item" href="https://en.wikipedia.org/wiki/MIT_License"
						target="_blank">License</a>
				</li>
			</ul>

			<div class="credits ml-auto my-auto">
				<span class="copyright">
					© {{today | date: 'yyyy'}} | made with
					<i class="color-brown fa fa-heart heart"></i>
					by
					<a class="color-brown" href="https://www.linkedin.com/in/alexssantos" target="_blank">
						@alexssantos
					</a>
				</span>
			</div>
		</div>
	</div>
</footer>