<div
	*ngIf="loading"
	id="spinner"
	style="
		display: flex; 
		justify-content: center; 
		align-items: center;
		width: 100%;
		height: 100%;"
>
	<mat-spinner></mat-spinner>
</div>
<div
	*ngIf="!loading"
	style="display: flex; flex-direction: row; flex-wrap: wrap;"
>
	<div style="width: 400px; height: 450px; background-color: #ffd0ce;">
		<div style="text-align: center;">
			<p>Pie Chart</p>
			<button (click)="getChartData()">LOADING DATA API</button>
		</div>
		<canvas
			baseChart
			[data]="pieChartData"
			[labels]="pieChartLabels"
			[chartType]="pieChartType"
			[options]="pieChartOptions"
			[plugins]="pieChartPlugins"
			[legend]="pieChartLegend"
		>
		</canvas>
	</div>

	<div style="width: 400px; height: 450px; background-color: #fffdce;">
		<p style="text-align: center;">Bar Chart</p>
		<canvas
			baseChart
			width="400px"
			height="400px"
			[datasets]="barChartData"
			[labels]="barChartLabels"
			[options]="barChartOptions"
			[plugins]="barChartPlugins"
			[legend]="barChartLegend"
			[chartType]="barChartType"
		>
		</canvas>
	</div>

	<div style="width: 400px; height: 450px; background-color: #c2ecff;">
		<p style="text-align: center;">Line Chart</p>
		<button (click)="removeLineChart()">REMOVE</button>
		<button (click)="addLineChart()">ADD</button>
		<canvas
			width="400px"
			height="400px"
			baseChart
			[datasets]="lineChartData"
			[labels]="lineChartLabels"
			[options]="lineChartOptions"
			[colors]="lineChartColors"
			[legend]="lineChartLegend"
			[chartType]="lineChartType"
			[plugins]="lineChartPlugins"
		>
		</canvas>
	</div>

	<div style="width: 800px; height: 450px; background-color: #cfffce;">
		<p style="text-align: center;">Radar Chart</p>
		<canvas
			baseChart
			[datasets]="radarChartData"
			[options]="radarChartOptions"
			[labels]="radarChartLabels"
			[chartType]="radarChartType"
		>
		</canvas>
	</div>
</div>
