<!-- Modal -->
<div class="modal fade" id="addPostModal" #addPostModal tabindex="-1" role="dialog" aria-labelledby="modalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form [formGroup]="formPost" (ngSubmit)="createPost()">
				<div class="modal-header" (click)="teste()">
					<h5 class="modal-title" id="modalLabel">
						New Post
					</h5>
					<button type="button" #closeModal class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p> What're you thinking... ?</p>

					<!-- Show Many Images -->
					<!-- <div class="row">
						<div *ngIf="photos.length > 0">
							<div class="d-flex justify-content-start" *ngFor="let photo of photos">
								<img [src]="photo.imgURL" class="rounded img-thumbnail m-3" alt="..." width="200"
									height="200" alt="photo.name">
							</div>
						</div>
					</div> -->
					<!-- UPLOAD PENDENTE -->
					<div *ngIf="statusUpload === 'pendente'">
						<div class="custom-file my-3">
							<input type="file" accept="image/*" class="custom-file-input" id="customFileInput"
								(change)="getImageFile($event, 'photo')" />
							<label class="custom-file-label"
								for="customFileInput">{{ photo ? photo.name : "Escolha uma foto" }}
							</label>
						</div>

						<!-- TEXT MESSAGE -->
						<div>
							<input type="text" placeholder="What are you thinking..." class="form-control"
								formControlName="title" />
						</div>
					</div>

					<!-- UPLOAD EM ANDAMENTO -->
					<div *ngIf="statusUpload === 'andamento'">
						Criando post: {{uploadPercent}} %
						<div class="progress">
							<div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
								role="progressbar" [style.width]="uploadPercent + '%'" aria-valuenow="uploadPercent"
								aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>

					<!-- UPLOAD EM ANDAMENTO -->
					<div *ngIf="statusUpload === 'concluido'">
						Progresso concluido.
					</div>

					<div *ngIf="statusUpload === 'erro'">
						Erro na postagem. ( 😭 )
					</div>
				</div>
				<div class="modal-footer d-flex justify-content-star" *ngIf="statusUpload === 'pendente'">
					<button type="button" class="btn btn-secondary" (click)="closeModalNow()">
						Cancel
					</button>
					<button type="button" class="btn btn-info" (click)="resetModalAddPost()">
						Limpar
					</button>
					<button type="submit" class="btn btn-primary" [disabled]="formPost.invalid">
						Post
					</button>

				</div>
			</form>
		</div>
	</div>
</div>