<!-- header tab menu -->
<mat-tab-group dynamicHeight>
	<!-- TAB 1 -->
	<mat-tab label="Highchart">
		<div class="my-mat-box mat-elevation-z4">
			<app-highcharts *ngIf="true"></app-highcharts>
		</div>
	</mat-tab>

	<!-- TAB 2 -->
	<mat-tab label="ng Highchart">
		<div class="my-mat-box mat-elevation-z4">
			<app-angular-highcharts *ngIf="false"></app-angular-highcharts>
		</div>
	</mat-tab>

	<!-- TAB 3 -->
	<mat-tab label="ng2-charts">
		<div class="my-full-box  mat-elevation-z4">
			<app-my-ng2-charts></app-my-ng2-charts>
		</div>
	</mat-tab>

	<!-- TAB 4 -->
	<mat-tab label="Chart 4">
		<div class="my-mat-box mat-elevation-z4">
			<p>TAB 4</p>
		</div>
	</mat-tab>
</mat-tab-group>
<!-- 
<div class="home">
</div>
 -->
