.home {
	height: 98vh;

	display: flex;
	justify-content: center;
	align-items: center;

	margin: auto;
}

.home app-highcharts,
.home app-angular-highcharts {
	height: 600px;
	width: 600px;

	margin: auto;

	background: #f3f3f3;
}
