/* .home {
	height: 98vh;

	display: flex;
	justify-content: center;
	align-items: center;

	margin: auto;
} */

.home app-highcharts,
.home app-angular-highcharts {
	height: 600px;
	width: 600px;

	margin: auto;

	background: #f3f3f3;
}

.my-mat-box {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 16px;
	padding: 16px;
	border-radius: 8px;

	height: 600px;
	width: 600px;
}
