:host {	
	width: 100%;
	padding: 30px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.page-content {
	border: dashed 1px rgba(255, 164, 164, 0.521);
		
	height: 500px;
	width: 800px;
	min-height: 300px;
    min-width: 300px;
	max-height: fit-content;		
	max-width: fill-available;
	max-width: -webkit-fill-available;
	
	padding: 20px;
	
    resize: both;	
	overflow: auto;

}
