<div class="page-content">
	<mat-card class="my-card">

		<nav class="navbar">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a href="#" class="nav-link">
						<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="address-book" class="svg-inline--fa fa-address-book fa-w-14 fa-5x" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
							<path fill="currentColor" class="fa-primary" d="M436 160c6.6 0 12-5.4 12-12v-40c0-6.6-5.4-12-12-12h-20V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h320c26.5 0 48-21.5 48-48v-48h20c6.6 0 12-5.4 12-12v-40c0-6.6-5.4-12-12-12h-20v-64h20c6.6 0 12-5.4 12-12v-40c0-6.6-5.4-12-12-12h-20v-64h20zm-228-32c35.3 0 64 28.7 64 64s-28.7 64-64 64-64-28.7-64-64 28.7-64 64-64zm112 236.8c0 10.6-10 19.2-22.4 19.2H118.4C106 384 96 375.4 96 364.8v-19.2c0-31.8 30.1-57.6 67.2-57.6h5c12.3 5.1 25.7 8 39.8 8s27.6-2.9 39.8-8h5c37.1 0 67.2 25.8 67.2 57.6v19.2z">
							</path>
						</svg>
						<span class="link-text">Agenda</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">
						<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="air-freshener" class="svg-inline--fa fa-air-freshener fa-w-12" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
							<path fill="currentColor" class="fa-primary" d="M378.94 321.41L284.7 224h49.22c15.3 0 23.66-16.6 13.86-27.53L234.45 69.96c3.43-6.61 5.55-14 5.55-21.96 0-26.51-21.49-48-48-48s-48 21.49-48 48c0 7.96 2.12 15.35 5.55 21.96L36.22 196.47C26.42 207.4 34.78 224 50.08 224H99.3L5.06 321.41C-6.69 333.56 3.34 352 21.7 352H160v32H48c-8.84 0-16 7.16-16 16v96c0 8.84 7.16 16 16 16h288c8.84 0 16-7.16 16-16v-96c0-8.84-7.16-16-16-16H224v-32h138.3c18.36 0 28.39-18.44 16.64-30.59zM192 31.98c8.85 0 16.02 7.17 16.02 16.02 0 8.84-7.17 16.02-16.02 16.02S175.98 56.84 175.98 48c0-8.85 7.17-16.02 16.02-16.02zM304 432v32H80v-32h224z"></path>
						</svg>
						<span class="link-text">Arvore</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">
						<svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="app-store-ios" class="svg-inline--fa fa-app-store-ios fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
							<path fill="currentColor" class="fa-primary" d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zM127 384.5c-5.5 9.6-17.8 12.8-27.3 7.3-9.6-5.5-12.8-17.8-7.3-27.3l14.3-24.7c16.1-4.9 29.3-1.1 39.6 11.4L127 384.5zm138.9-53.9H84c-11 0-20-9-20-20s9-20 20-20h51l65.4-113.2-20.5-35.4c-5.5-9.6-2.2-21.8 7.3-27.3 9.6-5.5 21.8-2.2 27.3 7.3l8.9 15.4 8.9-15.4c5.5-9.6 17.8-12.8 27.3-7.3 9.6 5.5 12.8 17.8 7.3 27.3l-85.8 148.6h62.1c20.2 0 31.5 23.7 22.7 40zm98.1 0h-29l19.6 33.9c5.5 9.6 2.2 21.8-7.3 27.3-9.6 5.5-21.8 2.2-27.3-7.3-32.9-56.9-57.5-99.7-74-128.1-16.7-29-4.8-58 7.1-67.8 13.1 22.7 32.7 56.7 58.9 102h52c11 0 20 9 20 20 0 11.1-9 20-20 20z"></path>
						</svg>
						<span class="link-text">Store</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">
						<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="archive" class="svg-inline--fa fa-archive fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
							<path fill="currentColor" class="fa-primary" d="M32 448c0 17.7 14.3 32 32 32h384c17.7 0 32-14.3 32-32V160H32v288zm160-212c0-6.6 5.4-12 12-12h104c6.6 0 12 5.4 12 12v8c0 6.6-5.4 12-12 12H204c-6.6 0-12-5.4-12-12v-8zM480 32H32C14.3 32 0 46.3 0 64v48c0 8.8 7.2 16 16 16h480c8.8 0 16-7.2 16-16V64c0-17.7-14.3-32-32-32z"></path>
						</svg>
						<span class="link-text">Archive</span>
					</a>
				</li>
				<!-- <li class="nav-item">
					<a href="#" class="nav-link">
						<span class="link-text"></span>
						<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="address-book" class="svg-inline--fa fa-address-book fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
							<path fill="currentColor" class="fa-primary" d="M436 160c6.6 0 12-5.4 12-12v-40c0-6.6-5.4-12-12-12h-20V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h320c26.5 0 48-21.5 48-48v-48h20c6.6 0 12-5.4 12-12v-40c0-6.6-5.4-12-12-12h-20v-64h20c6.6 0 12-5.4 12-12v-40c0-6.6-5.4-12-12-12h-20v-64h20zm-228-32c35.3 0 64 28.7 64 64s-28.7 64-64 64-64-28.7-64-64 28.7-64 64-64zm112 236.8c0 10.6-10 19.2-22.4 19.2H118.4C106 384 96 375.4 96 364.8v-19.2c0-31.8 30.1-57.6 67.2-57.6h5c12.3 5.1 25.7 8 39.8 8s27.6-2.9 39.8-8h5c37.1 0 67.2 25.8 67.2 57.6v19.2z">
							</path>
						</svg>
					</a>
				</li>			 -->
			</ul>
		</nav>

		<div class="main-text">
			<h1>CSS is Cool</h1>

			<p>
				I'm baby kale chips affogato ennui lumbersexual, williamsburg paleo quinoa
				iceland normcore tumeric. Kitsch coloring book retro, seitan schlitz
				tattooed biodiesel vexillologist neutra. Synth mumblecore deep v, umami
				selfies normcore gluten-free snackwave. Seitan ramps drinking vinegar
				venmo keytar, humblebrag VHS post-ironic tacos godard pour-over.
			</p>
			<p>
				Sartorial kogi taxidermy, kickstarter synth yr irony ennui everyday carry
				retro helvetica stumptown cloud bread squid echo park. Etsy cloud bread
				sartorial quinoa tacos beard mumblecore shaman tumblr pop-up. Twee retro
				fingerstache af helvetica pabst 8-bit leggings taiyaki portland ramps tbh
				tumblr vinyl. Neutra humblebrag bushwick portland subway tile plaid, offal
				scenester flexitarian cliche squid small batch palo santo. Palo santo meh
				adaptogen +1 3 wolf moon, listicle brunch ethical fanny pack everyday
				carry fam. Offal fingerstache taxidermy, man bun venmo PBR&amp;B helvetica
				thundercats everyday carry tote bag artisan cray wolf jianbing.
			</p>
			<p>
				Taxidermy thundercats whatever austin. VHS helvetica ethical, dreamcatcher
				enamel pin YOLO shabby chic locavore man bun crucifix pabst chillwave
				pop-up vegan. Air plant mlkshk ethical echo park tumeric, whatever
				crucifix godard scenester locavore pork belly yuccie vape. +1 gochujang
				put a bird on it, pork belly whatever selfies vaporware occupy banh mi
				normcore VHS. Cornhole normcore hashtag tilde. Hell of yr try-hard DIY raw
				denim banjo, enamel pin irony polaroid copper mug tofu. Dreamcatcher lomo
				literally 90's before they sold out, 3 wolf moon banh mi seitan chambray
				cliche offal tote bag occupy pug.
			</p>
			<p>
				Post-ironic hot chicken salvia yr yuccie ugh cold-pressed keffiyeh franzen
				viral taxidermy mustache slow-carb crucifix vape. Taiyaki yuccie hell of
				tacos PBR&amp;B, kitsch meggings tbh truffaut kickstarter mixtape af kogi.
				Fingerstache vegan tofu waistcoat gentrify cray. Drinking vinegar 3 wolf
				moon health goth craft beer master cleanse. Letterpress health goth 8-bit
				chillwave craft beer brooklyn. Chicharrones master cleanse 8-bit,
				mumblecore copper mug messenger bag poutine lomo kale chips flannel. Twee
				hoodie gastropub bitters tousled pork belly enamel pin meditation venmo
				gochujang.
			</p>
			<p>
				Next level selfies cronut ethical. Tofu tumblr you probably haven't heard
				of them, man braid literally forage swag chillwave. Pug yr flannel
				tumeric. Coloring book yr chillwave snackwave, shoreditch shaman gentrify
				typewriter tumeric DIY copper mug small batch. Scenester waistcoat YOLO
				hexagon kombucha poke 8-bit meditation. Selvage scenester forage
				williamsburg. Hoodie fingerstache tacos mustache, hashtag quinoa next
				level sartorial craft beer retro disrupt lo-fi.
			</p>
			<p>
				YOLO twee keytar farm-to-table flexitarian cardigan polaroid lumbersexual
				adaptogen drinking vinegar echo park dreamcatcher. Brunch shoreditch
				dreamcatcher iPhone knausgaard plaid edison bulb letterpress ethical yr
				fanny pack. Typewriter portland woke glossier cronut, post-ironic migas
				gentrify letterpress cray brunch lyft 8-bit master cleanse. Pitchfork
				thundercats organic pour-over unicorn lomo.
			</p>
			<p>
				Ugh yr tacos aesthetic everyday carry, tumeric selvage cliche skateboard.
				Wolf truffaut enamel pin vexillologist poutine. Hoodie roof party pabst,
				cardigan letterpress af disrupt +1 subway tile chillwave live-edge
				meggings next level readymade. Master cleanse gentrify hashtag, stumptown
				fam single-origin coffee occupy dreamcatcher air plant viral vexillologist
				enamel pin meggings. Tumblr chambray pickled microdosing austin scenester
				green juice.
			</p>
			<p>
				Austin four dollar toast church-key, vaporware hoodie edison bulb jean
				shorts sustainable williamsburg plaid helvetica scenester lomo humblebrag.
				Meditation tumblr kickstarter ennui williamsburg taiyaki pabst pour-over.
				8-bit godard cred, chillwave enamel pin skateboard you probably haven't
				heard of them. Meditation before they sold out single-origin coffee swag
				try-hard jianbing slow-carb shaman leggings. Palo santo shabby chic
				whatever man bun. Master cleanse wayfarers single-origin coffee pork belly
				cronut, normcore cliche jianbing before they sold out tousled shabby chic
				af pop-up gentrify. Direct trade la croix vexillologist jianbing,
				flexitarian selvage try-hard stumptown polaroid shaman wayfarers poke
				ramps food truck swag.
			</p>
			<p>
				Pok pok lumbersexual wayfarers, direct trade leggings poutine truffaut
				kitsch. Seitan aesthetic master cleanse squid coloring book banh mi YOLO
				vegan locavore vexillologist readymade next level pop-up edison bulb.
				Selvage knausgaard literally, quinoa photo booth 3 wolf moon microdosing
				freegan yuccie. Truffaut gentrify lomo put a bird on it waistcoat. Ugh
				austin distillery, tbh actually pork belly snackwave artisan mixtape
				quinoa vexillologist pok pok polaroid listicle readymade.
			</p>
			<p>
				Hammock letterpress prism dreamcatcher truffaut shabby chic vice
				cold-pressed. Franzen pug fashion axe before they sold out, tumblr irony
				kogi actually af bushwick banh mi. Snackwave bicycle rights tofu
				dreamcatcher tote bag pour-over meditation raw denim fanny pack. Pop-up
				retro taiyaki meditation twee gastropub VHS etsy. Semiotics gochujang
				street art normcore, edison bulb farm-to-table pour-over taxidermy
				brooklyn.
			</p>
		</div>
	</mat-card>
</div>