<app-topo></app-topo>

<div *ngIf="jogoEmAndamento; else fimDeJogo">
	<app-painel (endGame)="EndGame($event)"></app-painel>
</div>
<ng-template #fimDeJogo>
	<div *ngIf="tipoEncerramento === 'Derrota!'; else fimDeJogoVitoria" class="containe" style="margin: 40px">
		<div class="row">
			<div class="col">
				<h3 style="color: tomato">
					Fim de Jogo. Você Perdeu! :(
				</h3>
				<button class="btn btn-primary" (click)="RestartGame()">Reiniciar!</button>
			</div>
		</div>
	</div>
</ng-template>
<ng-template #fimDeJogoVitoria>
	<div class="containe" style="margin: 40px">
		<div class="row">
			<div class="col">
				<h3 style="color:springgreen">
					Fim de Jogo. Você Ganhou! :(
				</h3>
				<button class="btn btn-primary" (click)="RestartGame()"> Reiniciar!</button>
			</div>
		</div>
	</div>
</ng-template>