<!-- TOOLBAR -->
<mat-toolbar class="bg-white shadow fixed-top">
	<button mat-icon-button (click)="drawer.toggle()">
		<mat-icon>menu</mat-icon>
		<!-- <mat-icon *ngIf="drawer.opened">chevron_left</mat-icon> -->
	</button>
	<span>My Studies</span>

	<span class="spacer"></span>

	<button mat-icon-button>
		<mat-icon>favorite</mat-icon>
	</button>
	<button mat-icon-button>
		<mat-icon>share</mat-icon>
	</button>
</mat-toolbar>


<mat-drawer-container class="drawer-container">
	<mat-drawer #drawer class="sidenav" opened="true" mode="side">	</mat-drawer>	
	<mat-drawer-content>

		<!-- PAGE -->
		<div class="page-content">
			<button type="button" class="btn btn-danger">
				Bootstrap
			</button>
		</div>

	</mat-drawer-content>
</mat-drawer-container>



<!-- FOOTER -->