$footer-default-height: 48px;
$haeder-height: 62px;

$font-size: 16px;
$font-family: 'Montserrat', sans-serif;

$text-primary: #000000;
$text-secondary: #ffffff;

$bg-primary: #c2c2c2;
$bg-secondary: #757575;

$transition-speed: 600ms;

:host {	
	font-family: $font-family;	
	font-size: $font-size;
}

.spacer {
	flex-grow: 1;		//expande
	flex-shrink: 1;		//enxuga
	flex-basis: auto;	//percentagem
}


.drawer-container {
	height: 100%;
	width: 100%;		

    .sidenav {
		width: 230px;
        padding-top: 60px;
        padding-bottom: 46px;
		background-color: $bg-primary;
		color: rgb(0, 0, 0);
		
		border: none;
		
		.navbar-nav {						
			width: 100%;
			height: 100%;
			
			list-style: none;
			padding: 0;
			margin: 0;
			
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			
			.nav-item {	
				width: 100%;					
				
				.nav-link{
					text-decoration: none;
					color: $text-primary;						
					height: 4rem;																		
					
					display: flex;								
					align-items: center;		
					
					//efeito cinza quando NOT HOVER
					filter: grayscale(100%) opacity(0.7);
					transition: $transition-speed;

					&:hover{
						filter: grayscale(0%) opacity(1);
						background-color: $bg-secondary;
					}

					.icon{ 
						margin: 0 1rem; 
						color: brown;
					}

					.link-text{
						font-size: 0.9rem;
						margin-left: 0.5rem;		//espaçamento fixo do icone							
					}							  
				}

				//normalmente usado para icone de CONFIGS
				&:last-child{margin-top: auto;}
			}
		}	
	}

	.page-wrap {
		min-height: 100%;			
		height: auto;
		
		padding-top: $haeder-height;
		padding-bottom: $footer-default-height;		

		display: flex;
		align-items: center;
		justify-content: center;
	}
}


$minhaFont: "Segoe UI", Roboto, "Helvetica Neue";

footer{
	z-index: 999;
	background-color: white;
	font-family: $minhaFont;

	// params: Nao sei | tamanho | dispersao | cor
	box-shadow: 0 -1px 1rem rgba(0, 0, 0, 0.15) !important;

	.list-group-item {border: none;}

	li{	
		background-color: none;	
		font-family: $minhaFont;
	}

	a{
		color: black;	
		font-family: $minhaFont;
	}

	.color-brown{color: brown;}	

	.copyright{
		display: flex;
		align-items: center;
	}
}


// ===========================================
// MEDIA QUERIES
// ===========================================

@import "node_modules/bootstrap/scss/_functions.scss";
@import "node_modules/bootstrap/scss/_variables.scss";
@import "node_modules/bootstrap/scss/_mixins.scss";

// lasdscape less than 767.98px
@include media-breakpoint-down(sm) { 
	.row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		.credits {
			margin-left: auto;
			margin-right: auto;
			padding: 15px;
		}
	}
}