<mat-toolbar class="bg-white shadow fixed-top">
	<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
		<ng-container *ngIf="menuFechado; else closedIcon">
			<mat-icon>menu</mat-icon>			
		</ng-container>
		<ng-template #closedIcon>
			<mat-icon>close</mat-icon>
		</ng-template>		
	</button>
	<span>My Studies</span>

	<span class="spacer"></span>

	<button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
		<mat-icon>favorite</mat-icon>
	</button>
	<button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
		<mat-icon>share</mat-icon>
	</button>
</mat-toolbar>

<div class="page-content debug-red">
	<p>Meu app</p>
</div>

<router-outlet></router-outlet>