<!-- TOOLBAR -->
<mat-toolbar class="bg-white shadow-sm fixed-top">
	<button mat-icon-button (click)="drawer.toggle()">
		<mat-icon>menu</mat-icon>
		<!-- <mat-icon *ngIf="drawer.opened">chevron_left</mat-icon> -->
	</button>
	<span>My Studies</span>

	<span class="spacer"></span>

	<button mat-icon-button>
		<mat-icon>favorite</mat-icon>
	</button>
	<button mat-icon-button>
		<mat-icon>share</mat-icon>
	</button>
</mat-toolbar>


<mat-drawer-container class="drawer-container">

	<!-- MENU LATERAL -->
	<mat-drawer #drawer class="sidenav" opened="true" mode="side">
		<ul class="navbar-nav">
			<li class="nav-item" *ngFor="let NAV_ITEM of navLinks; let i=index">
				<a class="nav-link" 
					[routerLink]="[NAV_ITEM.link]"
				>					
					<mat-icon class="icon">{{NAV_ITEM.icon}}</mat-icon>					
					<span class="link-text">{{NAV_ITEM.label}}</span>
				</a>
			</li>
		</ul>
	</mat-drawer>

	<!-- PAGE -->
	<mat-drawer-content>
		<div class="page-wrap">
			<router-outlet></router-outlet>			
		</div>
	</mat-drawer-content>
</mat-drawer-container>



<!-- FOOTER -->
<footer class="footer fixed-bottom">
	<div class="container">
		<div class="row">
			<!-- list-unstyled => remove as bolinhas dos itens -->
			<ul class="list-group list-group-flush list-group-horizontal list-unstyled">
				<li><a class="list-group-item" href="https://github.com/alexssantos" target="_blank">GitHub</a></li>
				<li>
					<a class="list-group-item" href="https://www.linkedin.com/in/alexssantos" target="_blank">LinkedIn</a>
				</li>
				<li>
					<a class="list-group-item" href="https://en.wikipedia.org/wiki/MIT_License" target="_blank">License</a>
				</li>
			</ul>

			<div class="credits ml-auto my-auto">
				<div class="copyright">
					© {{today | date: 'yyyy'}} | made with
					<mat-icon class="color-brown mx-1">favorite</mat-icon>
					by
					<a class="color-brown" href="https://www.linkedin.com/in/alexssantos" target="_blank">
						@alexssantos
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>